<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
    <link rel = "stylesheet", href = "{{url_for('static', path = '/css/helloworld-style.css')}}">
</head>

<body>
    <div class = "main-content">
        <p>Hello</p>
        <p>It is fation webpage.</p>
        <p>How about it?</p>
        <p>This webpage will service about your fation.</p>
    </div>
    <div>
        <Button type = "button" class = "Btn" onclick="location.href='/h'">Home</Button>
    </div>
</body>
