<!DOCTYPE html>
<html lang="en">
    <head>
        <title>site map</title>
    </head>
    <body>
        <h2>Site Map</h2>
        <Button type = "button" class = "Btn" onclick="location.href='/j'">http://raspinas.iptime.org/j</Button>
        <br>
        <br>
        <Button type = "button" class = "Btn" onclick="location.href='/j2'">http://raspinas.iptime.org/j2</Button>
        <br>
        <br>
        <Button type = "button" class = "Btn" onclick="location.href='/gettext'">http://raspinas.iptime.org/gettext</Button>
        <br>
        <br>
        <Button type = "button" class = "Btn" onclick="location.href='/helloworld'">http://raspinas.iptime.org/helloworld</Button>
        <br>
        <br>
        <Button type = "button" class = "Btn" onclick="location.href='/h'">http://raspinas.iptime.org/h</Button>
        <br>
        <br>
        <Button type = "button" class = "Btn" onclick="location.href='/404'">http://raspinas.iptime.org/404</Button>
        <br>
        <br>
    </body>
</html>