<!-- It is example html file. Change to your file. -->

<!DOCTYPE html5>
<html>
    <head>
        <title>practice</title>
        <link rel = "stylesheet" href = "{{url_for('static', path = '/css/style.css')}}">  <!-- diffrent with other html files -->
    </head>
    <body>
        <div class = "body-content">
            <div class = "upper-content">

            </div>
            <div class = "main-content">
                <div class = "category">

                </div>
                <div class = "image">
                    <button type="button" class="Btn" onClick="location.href='/helloworld'">Introduction</button>

                </div>
            </div>
        </div>
    </body>
</html>
