<!-- file:///Users/user/Desktop/programming/vscode/webpage/practice/index.html -->
<!DOCTYPE html5>
<html>
    <head>
        <title>practice</title>
        <link rel = "stylesheet" href = "style.css">
    </head>
    <body>
        <div class = "body-content">
            <div class = "upper-content">

            </div>
            <div class = "main-content">
                <div class = "category">

                </div>
                <div class = "image">

                </div>
            </div>
        </div>
    </body>
</html>
