<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- code changed start -->
    <link rel="stylesheet" href="{{url_for('static', path = '/css/style3.css')}}" />
    <!-- code changed end -->

    <title>Momentun App</title>
  </head>
  <body>
    <form class="hidden" id="login-form">
      <input
        required
        maxlength="15"
        type="text"
        placeholder="What is you name?"
      />
      <input type="submit" value="Log In" />
    </form>
    <h1 class="hidden" id="greeting"></h1>
    <h2 id="clock">00:00:00</h2>
    <h3>Current Time is..</h3>
    <form id="todo-form">
      <input
        type="text"
        placeholder="Write a To Do and Press Enter"
        required
        maxlength="15"
      />
    </form>
    <ul id="todo-list"></ul>
    <div id="quotes">
      <span></span>
      <span></span>
    </div>
    <div id="weather">
      <span></span>
      <span></span>
    </div>
    <ul class="todo-list"></ul>
    <!-- <script src="background.js"></script> -->

    <!-- code changed start -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/clock.js"></script>
    <script src="/static/js/quotes.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/todo.js"></script>
    <script src="/static/js/weather.js"></script>
    <!-- code changed end -->
  </body>
</html>
