<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head>
    <body>
        <div class="login">
            <p>Login</p>
        </div>
        <br>
        <div class="id">
            <h2>Do not write real id and password. This page is not secured.</h2>
            <h5>test account : (ggm,1234), (hhm,2345)</h5>
            <form method="post" action="/myprofile">
                Id : <input type="text" name="id"><br><br>
                <!--must change to hash-->
                Password : <input type="password" name="password"><br><br>
                <!---->
                <input type="submit">
            </form>
        </div>
    </body>
</html>